# RTSP Configuration
RTSP_USERNAME=your_rtsp_id
RTSP_PASSWORD=your_rtsp_password
RTSP_PORT=554
RTSP_PATH=your_rtsp_path

# Database Configuration
METRICS_DB_DRIVER_CLASS_NAME=your_Driver_class_name
METRICS_DB_URL=your_database_url
METRICS_DB_USERNAME=your_username
METRICS_DB_PASSWORD=your_password

READ_DB_DRIVER_CLASS_NAME=your_Driver_class_name
READ_DB_URL=your_database_url
READ_DB_USERNAME=your_username
READ_DB_PASSWORD=your_password

# Application Environment
APP_ENVIRONMENT_MODE=profile_to_start
SPRING_PROFILES_ACTIVE=profile_to_start

# CORS Configuration
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://localhost:3000,http://frontend.cccr4.com,https://frontend.cccr4.com

# Logging
LOG_LEVEL=DEBUG